// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.mm-icon-17 {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: text-bottom;
    background: url(../img/mm.svg) 0% 0% / 17px;
}

.prom-icon-17 {
    width: 17px;
    height: 17px;
    display: inline-block;
    vertical-align: text-bottom;
    background: url(../img/prom.svg) 0% 0% / 17px;
}
